<!DOCTYPE html>
<html>
  <head>
     <link rel="stylesheet" href="/style.css">
  </head>
  <body style="background-color: #{@backgroundColor};">

    <h1> Start page Web Guesser </h1>
    <div>
        <p>Main Ruls</p>
        <ul>
            <li>The program chooses a secret number at random from 1 to 100.</li>
            <li>The user gets at most 7 guesses for the number.</li>
            <li>If the user guesses right, the program says you win, but if the user runs out of guesses, the program says you lose.</li>
        </ul>
    </div>
        
        <a href="/game">Start game</a>

  </body>
</html>




